<app-navbar></app-navbar>
<section class="main-content">
    <div class="container">

    <div class="row">

                <div class="food-card">
                    <div class="food-card_img">
                        <img src="{{product.image_base64}}" alt="">
                        <a href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="food-card_content">
                        <div class="food-card_title-section">
                            <a href="#!" class="food-card_title">{{product.name}}</a>
                            <a href="#!" class="food-card_author">Descripcion del producto</a>
                        </div>
                        <div class="food-card_bottom-section">
                            <div class="space-between">
                                <div>
                                    <span class="fa fa-fire"></span> 220 - 280 Kcal
                                </div>
                                <div class="pull-right">
                                    <span class="badge badge-success">Veg</span>
                                </div>
                            </div>
                            <hr>
                            <div class="space-between">
                                <div class="food-card_price">
                                    <span>$ {{product.price}}</span>
                                </div>
                                <div class="food-card_order-count">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button (click)="decrement_product_count()" class="btn btn-outline-secondary minus-btn" type="button" id="button-addon1"><i class="fa fa-minus">-</i></button>
                                        </div>
                                        <input type="text" class="form-control input-manulator" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="{{item_count}}">
                                        <!-- <span>{{item_count}}</span> -->
                                        <div class="input-group-append">
                                            <button (click)="increment_product_count()" class="btn btn-outline-secondary add-btn" type="button" id="button-addon1"><i class="fa fa-plus">+</i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="food-card_price">
                                    <span>total $ {{total}}</span>
                                </div>
                                <div class="food-card_price">
                                  <button (click)="add_to_cart()" class="btn btn-outline-primary">Agregar al carrito</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

	</div>
    </div>
</section>
<app-footer></app-footer>

