
.footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.col {
  flex-basis: calc(33.33% - 10px);
  padding: 0 10px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .row {
    flex-wrap: wrap;
  }

  .col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}


.footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.copy_pay{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
    overflow: hidden;
    margin-top: 20px;   
}

.site-btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
    border: none;
}

.form {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.footer__widget__social{
    text-align: left;
}
.footer__widget__social a{
    display: inline-block;
    height: 41px;
    width: 41px;
    font-size: 16px;
    color: #404040;
    border: 1px solid #ededed;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    background: #ffffff;
    transition: all, 0.3s;
    margin-right: 10px;
    text-decoration: none;
}
