<nav class="navbar">
  <div class="navbar__logo">
    <!-- Aquí puedes colocar tu logo -->
  </div>
  <ul class="navbar__menu">
    <li class="navbar__menu-item">
      <a routerLink="/home" routerLinkActive="active">Inicio</a>
    </li>
    <li class="navbar__menu-item">
      <a routerLink="/products" routerLinkActive="active">Productos</a>
    </li>
    <li class="navbar__menu-item">
      <a routerLink="/aboutus" routerLinkActive="active">Acerca de Nosotros</a>
    </li>
    <li class="navbar__menu-item">
      <a routerLink="/contact" routerLinkActive="active">Contacto</a>
    </li>
  </ul>
</nav>
