<div class="container py-5">
    <div class="row rounded-3 border shadow">
        <div class="col text-center">
            <img src="assets/img/logo/food.jfif" class="img-fluid">
        </div>
        <div class="col pt-5">
            <h2 class="fw-bold text-center pt-5 mb-2">Bienvenidos a</h2>
            <div class="container" id="container_logo">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 text-center" id="container_img">
                        <img src="/assets/img/logo/logoPaosRed.png" alt="logoWord" id="logoPaos" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="container col-sm-8 py-3">
                
                <div class="form-floating mb-3">
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required="required">
                    <label for="floatingInput">Correo electrónico</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" [(ngModel)]="password" name="password" class="form-control" id="floatingPassword" placeholder="Contraseña" required="required">
                    <label for="floatingInput">Contraseña</label>
                </div>

                <div class="text-center d-grid">
                    <button (click)="login()" type="submit" class="btn btn-primary rounded-2">Iniciar Sesión</button>
                </div>

                <div class="my-3">
                    <span>No tienes cuenta? <a href="#">Regístrate</a>  </span>
                </div>

            </div>
        </div>

        

    </div>
</div>