<app-navbar></app-navbar>
<br>
<br>
<section class="section-shoping-cart">
    <div class="container w-100">
        <div class="row">
            <table class="table-item">
                <thead>
                    <tr class="header-shoping">
                        <th class="">Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="header-shoping" *ngFor="let cartItem of cart" [cartItem]="cartItem" [deleteItemNotifier]="_removeCartItemSub" [updateItemNotifier]="_updateCartItemSub" app-item-cart></tr>
                        <!-- <app-item-cart></app-item-cart> -->
                        <tr>
                          <td></td>
                          <td><b>Total</b></td>
                          <td></td>
                          <td><b>$ {{total_payment}}</b></td>
                          <td></td>
                        </tr>
                </tbody>

            </table>
        </div>
        <div class="row"></div>
    </div>
</section>


