<section class="section-shoping-cart">
    <div class="container w-100">
        <div class="row">
            <table class="table-item">
                <thead>
                    <tr class="header-shoping">
                        <th class="shoping_product">Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="header-shoping" app-item-cart></tr>
                        <!-- <app-item-cart></app-item-cart> -->
                </tbody>

            </table>
        </div>
        <div class="row"></div>
    </div>
</section>


