<section class="section-shoping-cart">
    <div class="container w-100">
        <div class="row">
            <table class="table-item">
                <thead>
                    <tr class="header-shoping">
                        <th class="shoping_product">Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <app-item-cart></app-item-cart>
                    </tr>
                    <tr>
                        <app-item-cart></app-item-cart>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            Row 2
        </div>
    </div>
        
</section>


