    <head>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	</head>
	<!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
		<div class="container" data-aos="fade-up">

		  <div class="section-header">
			<h2>Our Menu</h2>
			<p>Check Our <span>Yummy Menu</span></p>
		  </div>

		  <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

			<li class="nav-item">
			  <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
				<h4>Starters</h4>
			  </a>
			</li><!-- End tab nav item -->

			<li class="nav-item">
			  <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
				<h4>Breakfast</h4>
			  </a><!-- End tab nav item -->

			<li class="nav-item">
			  <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
				<h4>Lunch</h4>
			  </a>
			</li><!-- End tab nav item -->

			<li class="nav-item">
			  <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
				<h4>Dinner</h4>
			  </a>
			</li><!-- End tab nav item -->

		  </ul>

		  <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

			<div class="tab-pane fade active show" id="menu-starters">

			  <div class="tab-header text-center">
				<p>Menu</p>
				<h3>Starters</h3>
			  </div>

			  <div class="row gy-5">


				<div class="col-lg-4 menu-item" *ngFor="let producto of starters">
				  <a href="/productInd/{{producto.name}}" class="glightbox"><img src="{{producto.image_base64}}" class="menu-img img-fluid" alt=""></a>
				  <h4>{{producto.name}}</h4>
				  <p class="ingredients">
					Lorem, deren, trataro, filede, nerada
				  </p>
				  <p class="price">
					${{producto.price}}
				  </p>

				</div><!-- Menu Item -->



			  </div>

			</div><!-- End Starter Menu Content -->

			<div class="tab-pane fade" id="menu-breakfast">

			  <div class="tab-header text-center">
				<p>Menu</p>
				<h3>Breakfast</h3>
			  </div>

			  <div class="row gy-5">

				<div class="col-lg-4 menu-item" *ngFor="let producto of breakfast">
					<a href="/productInd/{{producto.name}}" class="glightbox"><img src="{{producto.image_base64}}" class="menu-img img-fluid" alt=""></a>
					<h4>{{producto.name}}</h4>
					<p class="ingredients">
					  Lorem, deren, trataro, filede, nerada
					</p>
					<p class="price">
					  ${{producto.price}}
					</p>
				</div><!-- Menu Item -->
			  </div>

			</div><!-- End Breakfast Menu Content -->

			<div class="tab-pane fade" id="menu-lunch">

			  <div class="tab-header text-center">
				<p>Menu</p>
				<h3>Lunch</h3>
			  </div>

			  <div class="row gy-5">

				<div class="col-lg-4 menu-item" *ngFor="let producto of lunch">
					<a href="/productInd/{{producto.name}}" class="glightbox"><img src="{{producto.image_base64}}" class="menu-img img-fluid" alt=""></a>
					<h4>{{producto.name}}</h4>
					<p class="ingredients">
					  Lorem, deren, trataro, filede, nerada
					</p>
					<p class="price">
					  ${{producto.price}}
					</p>
				</div><!-- Menu Item -->


			  </div>
			</div><!-- End Lunch Menu Content -->

			<div class="tab-pane fade" id="menu-dinner">

			  <div class="tab-header text-center">
				<p>Menu</p>
				<h3>Dinner</h3>
			  </div>

			  <div class="row gy-5">

				<div class="col-lg-4 menu-item" *ngFor="let producto of dinner">
					<a href="/productInd/{{producto.name}}" class="glightbox"><img src="{{producto.image_base64}}" class="menu-img img-fluid" alt=""></a>
					<h4>{{producto.name}}</h4>
					<p class="ingredients">
					  Lorem, deren, trataro, filede, nerada
					</p>
					<p class="price">
					  ${{producto.price}}
					</p>
				</div><!-- Menu Item -->



			  </div>
			</div><!-- End Dinner Menu Content -->

		  </div>

		</div>
	  </section><!-- End Menu Section -->
