<main class="container-fluid">
	<div class="row">
		<div id="content" class="col-12">
			<div class="row mt-3">
				
				<!-- Etiquetas a repetir - INICIO -->
				<div class="col-6 col-md-2" *ngFor="let producto of productos">
					<div class="card border-0">
						<div class="row g-0">
							<div class="col-12">
								<img src="{{producto.image}}" class="img-fluid rounded-start" alt="{{producto.image}}" >
							</div>
							<div class="col-12">
								<div class="card-body">
									<h3 class="card-title fw-bold text-center">
									<h2 routerLink="/productInd/{{producto.name}}">{{producto.name}} </h2>
                                    <h2>${{producto.price}}</h2>
									</h3>
								</div>
							</div>

                            
						</div>
					</div>
				</div>
				<!-- Etiquetas a repetir - FIN -->
				
			</div>
		</div>
	</div>
</main>