@charset "UTF-8";
/* Fonts */
:root {
	--font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-primary: "Amatic SC", sans-serif;
	--font-secondary: "Inter", sans-serif;
  }
  
  /* Colors */
  :root {
	
	--color-secondary: #37373f;
  }
  
  /* Smooth scroll behavior */
  :root {
	scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {
	font-family: var(--font-default);;
	color: #212529;
  }
  
  a {
	color: #4da512;
	text-decoration: none;
  }
  
  a:hover {
	color: #ec2727;
	text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-family: sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Sections & Section Header
  --------------------------------------------------------------*/
  section {
	overflow: hidden;
	padding: 80px 0;
  }
  
  .section-bg {
	background-color: #eee;
  }
  
  .section-header {
	text-align: center;
	padding-bottom: 30px;
  }
  
  .section-header h2 {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: #7f7f90;
	text-transform: uppercase;
	font-family: var(--font-default);
  }
  
  .section-header p {
	margin: 0;
	font-size: 48px;
	font-weight: 400;
	font-family: "Amatic SC";
  }
  
  .section-header p span {
	color: #4da512;
  }

  /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 15px 0;
	background: rgba(55, 55, 63, 0.05);
	margin-top: 90px;
  }
  
  @media (max-width: 575px) {
	.breadcrumbs {
	  margin-top: 70px;
	}
  }
  
  .breadcrumbs h2 {
	font-size: 24px;
	font-weight: 400;
	margin: 0;
  }
  
  .breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
  }
  
  .breadcrumbs ol li+li {
	padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
	display: inline-block;
	padding-right: 10px;
	color: #676775;
	content: "/";
  }
  
  @media (max-width: 992px) {
	.breadcrumbs .d-flex {
	  display: block !important;
	}
  
	.breadcrumbs h2 {
	  margin-bottom: 10px;
	}
  
	.breadcrumbs ol {
	  display: block;
	}
  
	.breadcrumbs ol li {
	  display: inline-block;
	}
  }

.menu .nav-tabs {
	border: 0;
  }
  
  .menu .nav-link {
	margin: 0 10px;
	padding: 10px 5px;
	transition: 0.3s;
	color: #37373f;
	border-radius: 0;
	cursor: pointer;
	height: 100%;
	border: 0;
	border-bottom: 2px solid #b6b6bf;
  }
  
  @media (max-width: 575px) {
	.menu .nav-link {
	  margin: 0 10px;
	  padding: 10px 0;
	}
  }
  
  .menu .nav-link i {
	padding-right: 15px;
	font-size: 48px;
  }
  
  .menu .nav-link h4 {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	font-family: sans-serif;
  }
  
  @media (max-width: 575px) {
	.menu .nav-link h4 {
	  font-size: 16px;
	}
  }
  
  .menu .nav-link:hover {
	color: #4da512;
  }
  
  .menu .nav-link.active {
	color: #4da512;
	border-color: #4da512;
  }
  
  .menu .tab-content .tab-header {
	padding: 30px 0;
  }
  
  .menu .tab-content .tab-header p {
	font-size: 14px;
	text-transform: uppercase;
	color: #676775;
	margin-bottom: 0;
  }
  
  .menu .tab-content .tab-header h3 {
	font-size: 36px;
	font-weight: 600;
	color: #4da512;
  }
  
  .menu .tab-content .menu-item {
	-moz-text-align-last: center;
	text-align-last: center;
  }
  
  .menu .tab-content .menu-item .menu-img {
	padding: 0 60px;
	margin-bottom: 15px;
	height: 350px;
	border-radius: 100px;
  }
  
  .menu .tab-content .menu-item h4 {
	font-size: 22px;
	font-weight: 500;
	color: #37373f;
	font-family: sans-serif;
	font-weight: 30px;
	margin-bottom: 5px;
  }
  
  .menu .tab-content .menu-item .ingredients {
	font-family: sans-serif;
	color: #8d8d9b;
	margin-bottom: 5px;
  }
  
  .menu .tab-content .menu-item .price {
	font-size: 24px;
	font-weight: 700;
	color: #4da512;
  }