#content {
	height: 70vh;
	width: 100vw;	
}

h1 {
	color: #652e48;
	font-size: 1.8rem;
}

.card-title.fw-bold.text-center {
	text-align: center;
    padding-top: 15px;
}

a {
	text-decoration: none;
}

.col-6.col-md-2 {
	width: 200px;
	margin: 20px;

}

.row.mt-3 {
	align-items: center;
}

.img-fluid.rounded-start {
	height: 270px;
    position: relative;
    overflow: hidden;
    background-position: center center;
}